body {
	font-family: 'proxima-nova';
	width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.d-flex { display: flex; }
.d-inline-flex { display: inline-flex; }

#nav-bar {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color:rgb(3, 5, 31);
}

.nav-links {
  padding-right: 30px;
  color: white;
}

#register-btn {
  color: black;
  background-color: rgb(241, 226, 10);
  padding: 10px;
}

#agenda-btn {
  color: white;
  Background-color: rgb(58, 96, 207);
  padding: 10px;
  margin-left: 15px;
}

#header {
  background-color:rgb(3, 5, 31);
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

#aside {
  margin-right: 50%;
  padding-left: 80px;
}

#day {
  background-color: rgb(241, 226, 10);
}

#hour {
  background-color:rgb(149, 174, 252);
}

#min {
  background-color: rgb(33, 151, 106);
}

#sec {
  background-color:rgb(71, 107, 216);
}

#count {
  padding-left: 25%;
  padding-right: 25%;
}

.until {
  margin-left: 75px;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 1em;
  font-family: 'proxima-nova', sans-serif;
}

.until-numeric {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-top: 30px;
  background: #ffffff;
  border-radius: 100px;;
  height: 110px;
}

.until-event {
  grid-column: span 4;
}

#label {
  padding-left: 29%;
  padding-right: 31%;
  background-color: white;
  font-family: 'proxima-nova', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#d-1 {
  padding-left: 70px;
}

#d-2 {
  padding-left: 80px;
}

#d-3 {
  padding-left: 72px;
}

#d-4 {
  padding-left: 65px;
}

.row-cols-4 {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  flex-wrap: wrap;
}

.row-cols-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
  
}

.card-group-1 {
  background-color: rgb(3, 5, 31);
}

.card-group-2 {
  background-color: rgb(241, 226, 10);
  padding-top: 30px;
  padding-bottom: 40px;
}

H2 {
  padding-left: 10%;
  color: white;

}

.sub-title {
  padding-left: 10%;
  color: white;
  font-weight: bold;
  padding-top: 10px;
}

.text {
  padding-left: 10%;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}

.spkrs-btn {
  color: white;
  font-size: 20px;
  Background-color: rgb(58, 96, 207);
  padding: 10px;
  margin-left: 210px;
  margin-bottom: 50px;
}


.card h-100 {
  width: 200px;
  height: 300px;
  display: flex;
}

.card-img-top {
  width: 200px;
  height: 200px;
}

.card-body-spkr {
  background-color: rgb(248, 250, 242);
  border-radius: 10px;
  width: 250px;
  height: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  
}

.spkr-title {
  color: white;
}

.card-body-spkr:hover {
  transform: scale(1.5); 
}

H3 {
  color: rgb(3, 5, 31);
  margin-left: 33.5%;
  height: 30px;
  font-weight: bold;
}

.card-text {
  padding-left: 20px;
  padding-top: 25px;
  width: 200px;
  padding-bottom: 80px;
}



